@using IdentitySandboxApp.Models.Identity
@using Microsoft.AspNetCore.Authentication
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация";
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h4>Регистрация нового аккаунта.</h4>
            <hr />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label>Логин</label>
                <input name="username" class="form-control" value="@Model.Username" />
                <span asp-validation-for="@Model.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Email</label>
                <input name="email" type="email" class="form-control" value="@Model.Email" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Пароль</label>
                <input name="password" type="password" class="form-control" />
                <span asp-validation-for="@Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Подтверждение пароля</label>
                <input name="confirmPassword" type="password" class="form-control" />
                <span asp-validation-for="@Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label>Дата рождения</label>
                <input name="dateOfBirth" type="date" class="form-control" />
                <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-primary">Регистрация</button>
        </form>
    </div>
    @if ((Model.ExternalLogins?.Count ?? 0) > 0)
    {
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h4>Вход с помощью другого сервиса</h4>
            <hr />
            <form id="external-account" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                <div>
                    <p>
                        @foreach (AuthenticationScheme provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Вход с помощью @provider.DisplayName">@provider.DisplayName</button>
                        }
                    </p>
                </div>
            </form>
        </section>
    </div>
    }
</div>

@section Scripts {
    @*<partial name="_ValidationScriptsPartial" />*@
}
